@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.table-container {
    width: 100%;
    min-width: auto;
    margin: 20px auto;
    overflow-x: auto;
}

.table-container th {
    display: none;
}

.table-container tr {
    display: flex;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 5px;
    background: white;
}

.table-container tr.table-content {
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.table-container tr.table-content td {
    margin: 0 5px;
    font-size: 1rem;
    text-align: left; /* Default text alignment to left */
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-container tr.table-content td .position {
    border-right: 5px solid var(--mercedes-color);
    padding-right: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.table-container tr.table-content td .driver-name {
    margin-left: 5px;
}

.table-container tr.table-content td .driver-surname {
    font-weight: bolder;
}

.table-container tr.table-content td .team {
    font-size: 0.8rem;
    color: #666;
    margin-left: 5px;
}

.table-container tr.table-content td .points {
    background-color: #ccc;
    border-radius: 50px;
    font-size: 0.9rem;
    padding: 0 5px;
    text-align: right; /* Points aligned to the right */
    border-left: 1px solid #ccc; /* Add a left border to separate points */
}

.table-container tr.table-content td i {
    margin-left: 5px;
    color: #e10600;
    font-size: 14px;
}

/* HOVER */
.table-container tr:hover {
    background-color: var(--hover-color);
    color: #ffffff;
}

.table-container tr:hover .points {
    color: black;
}

/* DRIVER COLORS */
.table-container .table-content.mercedes .position { border-color: var(--mercedes-color); }
.table-container .table-content.redbull .position { border-color: var(--redbull-color); }
.table-container .table-content.ferrari .position { border-color: var(--ferrari-color); }
.table-container .table-content.haas .position { border-color: var(--haas-color); }
.table-container .table-content.mclaren .position { border-color: var(--mclaren-color); }
.table-container .table-content.alpine .position { border-color: var(--alpine-color); }
.table-container .table-content.vcarb .position { border-color: var(--vcarb-color); }
.table-container .table-content.sauber .position { border-color: var(--sauber-color); }
.table-container .table-content.williams .position { border-color: var(--williams-color); }
.table-container .table-content.astonmartin .position { border-color: var(--aston-color); }

/* Tablet Responsiveness */
@media (min-width: 601px) and (max-width: 1024px) {
    .table-container {
        margin: 30px auto;
    }

    .table-container tr {
        padding: 8px;
        margin-bottom: 8px;
    }

    .table-container tr.table-content td {
        font-size: 1.2rem;
        padding: 8px;
    }

    .table-container tr.table-content td .position {
        font-size: 1.2rem;
        border-right: 4px solid var(--mercedes-color);
        padding-right: 8px;
    }

    .table-container tr.table-content td .team {
        font-size: 0.9rem;
    }

    .table-container tr.table-content td .points {
        font-size: 1rem;
        text-align: right;
        border-left: 1px solid #ccc; /* Add a left border to separate points */
    }

    .table-container tr.table-content td i {
        font-size: 16px;
    }
}

/* Desktop Responsiveness */
@media (min-width: 1025px) {
    .table-container {
        margin: 70px auto;
    }

    .table-container tr {
        padding: 0;
        margin-bottom: 0;
        min-width: 200px;
    }

    .table-container tr.table-content td {
        margin: 0 20px 0 10px;
        font-size: 1.4rem;
        padding: 10px;
    }

    .table-container tr.table-content td .position {
        border-right: 5px solid var(--mercedes-color);
        padding-right: 10px;
        font-size: 1.4rem;
    }

    .table-container tr.table-content td .team {
        font-size: 1rem;
    }

    .table-container tr.table-content td .points {
        font-size: 1.1rem;
        text-align: right;
        border-left: 1px solid #ccc; /* Add a left border to separate points */
        padding: 0 10px;
    }

    .table-container tr.table-content td i {
        margin-left: 20px;
        font-size: 18px;
    }
}

/* Mobile iPhone Responsiveness */
@media (max-width: 600px) { /* Adjust breakpoint as needed */
    .table-container {
        margin: 16px auto; /* Reduced margin */
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    .table-container tr.table-content {
        margin-bottom: 4px;
        padding: 8px;
    }

    .table-container tr.table-content td {
        margin: 0 3px; /* Reduced margin */
        font-size: 0.9rem; /* Reduced font size */
        padding: 3px; /* Reduced padding */
    }

    .table-container tr.table-content td .position {
        border-right: 2px solid var(--mercedes-color); /* Thinner border */
        padding-right: 3px; /* Reduced padding */
        font-size: 0.9rem; /* Reduced font size */
    }

    .table-container tr.table-content td .team {
        font-size: 0.7rem; /* Further reduced font size */
    }

    .table-container tr.table-content td .points {
        font-size: 0.8rem; /* Reduced font size */
        padding: 0 3px; /* Reduced padding */
        border-left: 1px solid #ccc;
    }

    .table-container tr.table-content td i {
        margin-left: 3px; /* Reduced margin */
        font-size: 12px; /* Reduced font size */
    }
}