.header {
    color: white;
    padding: 1rem; /* Increased padding for better spacing */
    background-color: black;
    text-align: left;
    background-image: url("../assets/headerImage.jpg");
    background-position: center; /* Centered for better mobile display */
    background-size: cover; /* Cover the entire header */
    background-repeat: no-repeat; /* Prevent image repetition */
    text-align: center; /* Center text on mobile */
  }
  
  .row-button-header{
    color: white;
    background-color: black;
    text-align: center;
    background-image: url("../assets/backHeader.jpg");
    background-position: center; /* Centered for better mobile display */
    background-size: cover; /* Cover the entire header */
    background-repeat: no-repeat; /* Prevent image repetition */
  }

  .button-header{
    background-color: rgb(245, 51, 51);
    border-color: rgb(124, 145, 162);
  }