@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

html {
    font-family: "Titillium Web", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("../assets/background.jpg");
    background-color: rgba(255, 255, 255, 0.9); /* Example: White background with 50% opacity */
    
}

/* VARIABLES */

:root {
    --mercedes-color: #00d2be;
    --redbull-color: #060442;
    --ferrari-color: #dc0000;
    --hass-color: #ffffff;
    --mclaren-color: #ff8700;
    --alpine-color: #df81dc;
    --vcarb-color: #0572ff;
    --sauber-color: #28ec2b;
    --williams-color: #134cbf;
    --aston-color: #032215;
    --hover-color: #38383f;
}

.table-container {
    width: 30%;
    min-width: 600px;
    /* border: 1px solid black; */
    margin: 100px auto;
}

.table-container th {
    display: none;
}

.table-container tr {
    display: flex;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
    cursor: pointer;
}

.table-container tr.table-content {
    justify-content: space-between;
    padding: 0;
}

.table-container tr.table-content td {
    margin: 0 20px 0 10px;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
}

.table-container tr.table-content td .position {
    border-right: 5px solid var(--mercedes-color);
    padding-right: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.table-container tr.table-content td .driver-name {
    margin-left: 10px;
}

.table-container tr.table-content td .driver-surname {
    font-weight: bolder;
}

.table-container tr.table-content td .team {
    font-size: 1rem;
    color: #666;
    margin-left: 10px;
}

.table-container tr.table-content td .points {
    background-color: #ccc;
    border-radius: 50px;
    font-size: 1.1rem;
    padding: 0 10px;
}

.table-container tr.table-content td i {
    margin-left: 20px;
    color: #e10600;
    font-size: 18px;
}

/* HOVER */

.table-container tr:hover {
    background-color: var(--hover-color);
    color: #ffffff;
}

.table-container tr:hover .points {
    color: black;
}

/* DRIVER 1 - Mercedes*/
.table-container .table-content.mercedes .position {
    border-right: 5px solid var(--mercedes-color);
}

/* DRIVER 2  - Red bull*/
.table-container .table-content.redbull .position {
    border-right: 5px solid var(--redbull-color);
}

/* DRIVER 3 - Ferrari*/
.table-container .table-content.ferrari .position {
    border-right: 5px solid var(--ferrari-color);
}

/* DRIVER 4  - HAAS*/
.table-container .table-content.haas .position {
    border-right: 5px solid var(--haas-color);
}

/* DRIVER 5 - McLaren*/
.table-container .table-content.mclaren .position {
    border-right: 5px solid var(--mclaren-color);
}

/* DRIVER 6  - ALPINE*/
.table-container .table-content.alpine .position {
    border-right: 5px solid var(--alpine-color);
}

/* DRIVER 7 - VCARB*/
.table-container .table-content.vcarb .position {
    border-right: 5px solid var(--vcarb-color);
}

/* DRIVER 8  - SAUBER*/
.table-container .table-content.sauber .position {
    border-right: 5px solid var(--sauber-color);
}

/* DRIVER 9 - WILLIAMS*/
.table-container .table-content.williams .position {
    border-right: 5px solid var(--williams-color);
}

/* DRIVER 10 - ASTON MARTIN*/
.table-container .table-content.astonmartin .position {
    border-right: 5px solid var(--aston-color);
}



